public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
/vendor
node_modules/
npm-debug.log
public/js/app.js
webpack.mix.js
resources/assets/js/app.js
resources/assets/js/bootstrap.js