#okay{
    background-color: #eaedf1;
    max-width: 100%;
    overflow-x: hidden;
    font-family: clone-rounded-latin, sans-serif;
    font-style: normal;
    font-weight: 600;
}

#main{
    background-color: #2f556b;
    height: 5vw;
}

#okay #ereg{
    background-color: #f2f2f2;
    width: 100%;
    margin-top: 0vw;
}

#meat{
    background-color: #eaedf1;
    height: 41vw;
    overflow-y: auto;
}

#meat form{
    float: left;
    width: 100%;
}

#meat form button{
    background-color: #2f556b;
    width: 100%;
    height: 4vw;
}

#meat form #msg{
    margin-top: 5vw;
    text-align: center;
}

#meat form #select{
    margin-top: 0vw;
}

#meat form #one{
    margin-top: 5vw;
}

#meat form #ename{
    margin-top: 10vw;
}

#meat form #two #body{
    height: 25vw;
}

#meat form #twohalf{
    height:5vw;
}

#meat form #three #note{
    height: 10vw;
}

#main h1{
    margin-left: 29%;
    margin-top: -3.94vw;
    width: 40vw;
    text-align: center;
    color: white;
    font-size: 3vw;
}

#vert{
    background-color: #eaedf1;
    height: 41vw;
    width: 100%;
    margin-top: .009vw;
}

#vert .container{
    margin-left: 11vw;
    width: 100%;
    height: 100%;
}

#vert #feed{
    background-color: #f2f2f2;
    text-align: center;
    width: 87vw;
    height: 39vw;
    margin-top: 0;
    margin-left: 10.7vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    word-wrap: break-word;
    border-radius: 5px;
}

#vert #commentfeed{
    background-color: #d2c9bc;
    text-align: left;
    width: 65%;
    height: 61%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    word-wrap: break-word;
}

#main .dropdoown{
    float: left;
    background-color: aqua;
}

#main .dropdown .btn{
    margin-left: -1.5vw;
    height: 5vw;
    width: 5vw;
    background-color: #2a2a2a;
}

#main .dropdown .btn span{
    color: #8bc34a;
}

#main #home{
    float: right;
    width: 5vw;
    height: 5vw;
    margin-top: -5.09vw;
    margin-right: -2.8vw;
}

#main #home .btn{
    margin-right: 0vw;
    height: 5vw;
    width: 5vw;
    background-color: #2a2a2a;
}

#main #home a{
    margin-right: 0vw;
}

#main #home a button span{
    color: #8bc34a;
}

#main form{
    width: 20vw;
    float: right;
    margin-top: -3.9vw;
    margin-right: 15vw;
}

#main form .input-group{
    width: 20vw;
}

#main form .input-group button{
    margin-top: 0vw;
    margin-right: -3vw;
    float: right;
}

#vert .vertical-menu {
    background-color: #d2c9bc;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    float: left;
    width: 11vw;
    height: 39vw;
    margin-left: -1.6vw;
    margin-top: 0vw;
    border-radius: 5px;
    overflow-y: auto;
}

#vert .vertical-menu ul li a {
    color: 	#452f6b;
    display: block;
    border: 1px solid #452f6b;
    padding: 12px;
    text-decoration: none;
}

#vert .vertical-menu ul li a:hover {
    background-color: #452f6b;
    color: white;
    border: 1px solid white;

}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

@media screen and (max-width: 1200px){
    /*
    #3a464b
    */
    #main{
        background-color: #2f556b;
        height: 5.8vw;
    }
    #main h1{
        margin-left: 29%;
        margin-top: -3.94vw;
        width: 40vw;
        text-align: center;
        color: white;
        font-size: 3vw;
    }
    #main .dropdoown{
        float: left;
    }

    #main .dropdown .btn{
        margin-left: -1.9vw;
        height: 5.8vw;
        width: 5.8vw;
        background-color: #2a2a2a;
    }

    #main .dropdown .btn span{
        color: #8bc34a;
    }

    #main #home{
        float: right;
        width: 5.8vw;
        height: 5.8vw;
        margin-top: -6.35vw;
        margin-right: -3.6vw;
    }

    #main #home .btn{
        margin-right: 0vw;
        height: 5.8vw;
        width: 5.8vw;
        background-color: #2a2a2a;
    }

    #main #home a{
        margin-right: 0vw;
    }

    #main #home a button span{
        color: #8bc34a;
    }
    #main form{
        width: 17vw;
        float: right;
        margin-top: -5.1vw;
        margin-right: 18vw;
    }

    #main form .input-group{
        width: 17vw;
    }

    #main form .input-group #search{
        height: 3.5vw;
    }

    #main form .input-group button{
        margin-top: 0vw;
        height: 3.5vw;
        margin-right: -5.1vw;
        float: right;
    }

    #vert{
        background-color: #f2f2f2;
        height: 85vw;
        width: 100%;
        margin-top: .009vw;
        padding: 0;
        overflow-x: auto;
        overflow-y: auto;
    }

    #vert .container{
        margin-left: 11vw;
        width: 100%;
        height: 100%;
    }

    #vert #feed{
        background-color: #f2f2f2;
        text-align: center;
        width: 79vw;
        height: 82.029vw;
        margin: 0;
        margin-left: 20vw;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        border-radius: 5px;
    }
    #vert .vertical-menu {
        background-color: #d2c9bc;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        float: left;
        width: 18.5vw;
        height: 82.029vw;
        margin-left: 0vw;
        margin-top: 0vw;
        overflow-y: auto;
    }

    #vert .vertical-menu ul li a {
        color: #452f6b;
        display: block;
        border: .3px solid #452f6b;
        padding: 12px;
        text-decoration: none;
    }

    #vert .vertical-menu ul li a:hover {
        background-color: #452f6b;
        color: white;
        border: 1px solid white;
    }

    .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
    }

    #meat{
        background-color: #eaedf1;
        height: 84vw;
        overflow-y: auto;
    }

    #meat form{
        float: left;
        width: 100%;
    }

    #meat form button{
        background-color: #2f556b;
        width: 100%;
        height: 4vw;
    }

    #meat form #msg{
        margin-top: 5vw;
        text-align: center;
    }

    #meat form #select{
        margin-top: 0vw;
    }

    #meat form #one{
        margin-top: 5vw;
    }

    #meat form #ename{
        margin-top: 10vw;
    }

    #meat form #two #body{
        height: 25vw;
    }

    #meat form #three #note{
        height: 10vw;
    }

}

@media screen and (max-width: 1000px){
    /*
    #3a464b
    */
    #main{
        background-color: #2f556b;
        height: 5.8vw;
    }
    #main h1{
        margin-left: 29%;
        margin-top: -3.94vw;
        width: 40vw;
        text-align: center;
        color: white;
        font-size: 3vw;
    }
    #main .dropdoown{
        float: left;
    }

    #main .dropdown .btn{
        margin-left: -1.9vw;
        height: 5.8vw;
        width: 5.8vw;
        background-color: #2a2a2a;
    }

    #main .dropdown .btn span{
        color: #8bc34a;
    }

    #main #home{
        float: right;
        width: 5.8vw;
        height: 5.8vw;
        margin-top: -6.35vw;
        margin-right: -3.6vw;
    }

    #main #home .btn{
        margin-right: 0vw;
        height: 5.8vw;
        width: 5.8vw;
        background-color: #2a2a2a;
    }

    #main #home a{
        margin-right: 0vw;
    }

    #main #home a button span{
        color: #8bc34a;
    }
    #main form{
        width: 17vw;
        float: right;
        margin-top: -5.1vw;
        margin-right: 18vw;
    }

    #main form .input-group{
        width: 17vw;
    }

    #main form .input-group #search{
        height: 3.5vw;
    }

    #main form .input-group button{
        margin-top: 0vw;
        height: 3.5vw;
        margin-right: -5.1vw;
        float: right;
    }

    #vert{
        background-color: #f2f2f2;
        height: 85vw;
        width: 100%;
        margin-top: .009vw;
        padding: 0;
        overflow-x: auto;
        overflow-y: auto;
    }

    #vert .container{
        margin-left: 11vw;
        width: 100%;
        height: 100%;
    }

    #vert #feed{
        background-color: #f2f2f2;
        text-align: center;
        width: 79vw;
        height: 82.029vw;
        margin: 0;
        margin-left: 20vw;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        overflow-y: auto;
        border-radius: 5px;
    }
    #vert .vertical-menu {
        background-color: #d2c9bc;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
        float: left;
        width: 18.5vw;
        height: 82.029vw;
        margin-left: 0vw;
        margin-top: 0vw;
        overflow-y: auto;
    }

    #vert .vertical-menu ul li a {
        color: #452f6b;
        display: block;
        border: .3px solid #452f6b;
        padding: 12px;
        text-decoration: none;
    }

    #vert .vertical-menu ul li a:hover {
        background-color: #452f6b;
        color: white;
        border: 1px solid white;
    }

    .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
    }

    #meat{
        background-color: #eaedf1;
        height: 104vw;
        overflow-y: auto;
    }

    #meat form{
        float: left;
        width: 100%;
    }

    #meat form button{
        background-color: #2f556b;
        width: 100%;
        height: 4vw;
    }

    #meat form #msg{
        margin-top: 5vw;
        text-align: center;
    }

    #meat form #select{
        margin-top: 0vw;
    }

    #meat form #one{
        margin-top: 5vw;
    }

    #meat form #ename{
        margin-top: 10vw;
    }

    #meat form #two #body{
        height: 25vw;
    }

    #meat form #three #note{
        height: 10vw;
    }

}

@media screen and (max-width: 790px){

    #meat{
        background-color: #eaedf1;
        height: 204vw;
        overflow-y: auto;
    }

    #main form .input-group #search{
        height: 1vw;
    }

    #main form .input-group button{
        margin-top: 0vw;
        height: 5vw;
        margin-right: -7vw;
        float: right;
    }


}

@media screen and (max-width: 500px){

    #meat{
        background-color: #eaedf1;
        height: 304vw;
        overflow-y: auto;
    }


}

@media screen and (max-width: 400px){

    #meat{
        background-color: #eaedf1;
        height: 10504vw;
        overflow-y: auto;
    }


}
